[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
collpy = "*"
progressbar2 = "*"
pylint = "*"
flake8 = "*"
black = "*"
pip = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "*"
